<%= render_breadcrumbs %>

<div class="form-group">
  <%= link_to "New Teacher", new_teacher_path, :class=>"btn btn-md btn-success" %>
</div>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <tr class="success">
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Status</th>
        <th>Edit Status</th>
        <th>Delete Status</th>
      </tr>
      
      <% @teachers.each do |teacher| %>
      <tr>
        <td>
          <%= teacher.name %>
        </td>
        <td>
          <%= teacher.age %>
        </td>
        <td>
          <%= teacher.gender %>
        </td>
        <td>
          <%= teacher.address %>
        </td>
        <td>
          <%= teacher.active%>
        </td>
        <td>
          <%= link_to "edit", edit_teacher_path(teacher.id) %>
        </td>
        <td>
          <%= link_to "delete", teacher_path(teacher.id), :confirm=>"are you sure to delete?", :method => :delete %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>